# Named volumes for persistent data storage
services:

  haproxy:
    image: haproxy:3.2.9-alpine
    hostname: balancer-haproxy
    container_name: balancer-haproxy
    ports:
      - "8300:8300"        # Exposes haproxy to host
      - "9301:9301"        # Exposes haproxy to host
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./ssl:/data/cluster/certificates:ro
    restart: always

  envoy:
    image: envoyproxy/envoy:v1.34.10
    hostname: balancer-envoy
    container_name: balancer-envoy
    ports:
      - "8400:8400"        # Exposes Envoy to host
      - "9401:9401"        # Exposes Envoy to host
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ./ssl:/data/cluster/certificates:ro
    restart: always

  node-01:
    image: nginx:1.29.3-alpine
    hostname: node-01.intel.r7g.org
    container_name: node-01.intel.r7g.org
    ports:
      - "8401:8401"
    restart: always
    volumes:
      - ./conf.d/nginx-node-01.conf:/etc/nginx/nginx.conf:ro
      - ./conf.d/server-node-01.conf:/etc/nginx/conf.d/server-node-01.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    command: [nginx-debug, '-g', 'daemon off;']

  node-02:
    image: nginx:1.29.3-alpine
    hostname: node-02.intel.r7g.org
    container_name: node-02.intel.r7g.org
    ports:
      - "8402:8402"
    restart: always
    volumes:
      - ./conf.d/nginx-node-02.conf:/etc/nginx/nginx.conf:ro
      - ./conf.d/server-node-02.conf:/etc/nginx/conf.d/server-node-02.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    command: [nginx-debug, '-g', 'daemon off;']

  node-03:
    image: nginx:1.29.3-alpine
    hostname: node-03.intel.r7g.org
    container_name: node-03.intel.r7g.org
    ports:
      - "8403:8403"
    restart: always
    volumes:
      - ./conf.d/nginx-node-03.conf:/etc/nginx/nginx.conf:ro
      - ./conf.d/server-node-03.conf:/etc/nginx/conf.d/server-node-02.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    command: [nginx-debug, '-g', 'daemon off;']
